.align-center {
    text-align: center;
}
.smileys {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dbf8ff;
    &__smiley {
        font-size: 180px;
        display: inline-block;
        width: 25%;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        text-align: center;
        line-height: 1;
        a {
            text-decoration: none;
        }
        &--very-happy {
            right: 0;
        }
        &--happy {
            right: 25%;
        }
        &--unhappy {
            left: 25%;
        }
        &--very-unhappy {
            left: 0;
        }
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
.stats-smiley {
    font-size: 30px;
    &--animate {
        animation: bounce 2s infinite;
    }
}
.stats-table {
    th {
        text-align: center;
    }
    &__row-title {
        font-weight: bold;
        text-align: left;
    }
}